{% extends "admin/layout2.html" %}
{% block content %}
<form method="post" action="/add_post"> 
    <div class="container">
        <label for='Title'>Title:</label>
    <input type="text" class="form-control" required name='title'><br/>
    <label for='posted_by'>Posted by:</label>
    <input type="text" class="form-control" required name='posted_by'><br/>
    <label for='Description'>Description:</label>
    <textarea class="form-control" rows="8" name='content'></textarea><br/>
    <label for='img_name'>Slugs:</label>
    <input type="text" class="form-control" value="You cannot Edit Slug. Its generates autometically" disabled name='slug'><br/>
    <label for='Date'>Post Date:</label>
    <input type="text" class="form-control" name='date' disabled value="{{ post_date }}"><br/>
    <label for='img_name'>Image Name:</label>
    <input type="text" class="form-control" required name='img_name'><br/>
    
    <input type="submit" class="btn btn-outline-info" name="submit" placeholder="Submit">
    </div>
    </form>
{% endblock %}