<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% if title %}
    <title>{{ title }}</title>
  {% endif %}

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Social Button CSS -->
  <link href="{{ url_for('static', filename='css/social_button.css') }}" rel="stylesheet">
  <!-- Social Button Font CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/heroic-features.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/blog-post.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/sign_in.css') }}" rel="stylesheet">

</head>
<body class="text-center">
    <form class="form-signin" action="/admin_panel" method="post">
        <img class="mb-4" src="{{ url_for('static', filename='/img/admin.png') }}" alt="" width="100" height="100">
        <h1 class="h3 mb-3 font-weight-normal">Admin Login</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="uname" name='uname' class="form-control" placeholder="Username" required autofocus>
        <label for="pass" class="sr-only">Password</label>
        <input type="password" id="pass" name="pass" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; {{params['site']}} 2020-2021</p>
    </form>
</body>
</html>